{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ค้นหาข้อมูลเลขที่สัญญา</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}?v=123" />
    {% comment %} <script src="https://cdn.tailwindcss.com"></script> {% endcomment %}
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
  </head>
  <body>
    <div class="form-container">
        <h1>Softnetwork</h1>
        <form method="post">
            {% csrf_token %} 
            <p>
                {{ form.card_no.label_tag }}  
                {{ form.card_no }}
            </p>
            {% comment %} {{ form.as_p }} {% endcomment %}
            {% if form.card_no.errors %}
                <div style="color: red; font-size: 14px;">
                    {{ form.card_no.errors.0 }}
                </div>
            {% endif %}
            <button type="submit">
                <i class="fa-solid fa-magnifying-glass"></i> &nbsp; search
            </button>
        </form>
    </div>
    {% if result2 %}

    {% for foo in result2 %}
    <div class="card" style="border: 1px solid black">
        <div class="card-content">
            <h2>ผลลัพธ์ที่ค้นหา</h2>
            <table>
                <tr>
                    <td><p>เลขที่สัญญา:</p></td>
                    {% comment %} <td style="width: 30%"></td> {% endcomment %}
                    <td><strong>{{ foo.cont_no }}</strong></td>
                </tr>
                <tr>
                    <td><p>ชื่อ-นามสกุล:</p></td>
                    {% comment %} <td style="width: 30%"></td> {% endcomment %}
                    <td><strong>{{ foo.customer_name }}</strong></td>
                </tr>
                <tr>
                    <td><p>ประเภทสัญญา:</p></td>
                    {% comment %} <td style="width: 30%"></td> {% endcomment %}
                    <td><strong>{{ foo.cont_type_name }}</strong></td>
                </tr>
                <tr>
                    <td><p>เบอร์โทรศัพท์:</p></td>
                    {% comment %} <td style="width: 30%"></td> {% endcomment %}
                    <td><strong>{{ foo.mobile }}</strong></td>
                </tr>

                <tr>
                    <td><p>สถานะบัญชี:</p></td>
                    {% comment %} <td style="width: 30%"></td> {% endcomment %}
                    <td><strong> {{ foo.get_cont_status_display }} </strong></td>
                </tr>
            </table>
            <br>

            <button id="toggle-details-{{ forloop.counter }}" onclick="toggleDetails({{ forloop.counter }})">
                เพิ่มเติม <i id="toggle-icon-{{ forloop.counter }}" class="fa-solid fa-angle-down"></i>
            </button>
            <div id="additional-details-{{ forloop.counter }}" style="display: none">
                    <table>
                        <tr>
                            <td><p>ข้อมูลลูกหนี้ ณ วันที่ :</p></td>
                            {% comment %} <td style="width: 20%"></td> {% endcomment %}
                            <td><strong>{{ now }}</strong></td>
                        </tr>
                        <tr>
                            <td><p>วันที่เริ่มสัญญา :</p></td>
                            {% comment %} <td style="width: 45%"></td> {% endcomment %}
                            <td><strong>{{ foo.startdate }}</strong></td>
                        </tr>
                        <tr>
                            <td><p>วันที่ชำระล่าสุด :</p></td>
                            {% comment %} <td style="width: 45%"></td> {% endcomment %}
                            <td><strong>{{ foo.lastpaydate }}</strong></td>
                        </tr>
                        <tr>
                            <td><p>ครบกำหนดชำระครั้งถัดไป :</p></td>
                            {% comment %} <td style="width: 45%"></td> {% endcomment %}
                            <td><strong>{{ foo.nextdate }}</strong></td>
                        </tr>
                        <tr>
                            <td><p>ชำระค่างวดแล้ว :</p></td>
                            {% comment %} <td style="width: 45%"></td> {% endcomment %}
                            <td><strong>{{ foo.moneytotal }}</strong></td>
                        </tr>
                        <tr>
                            <td><p>ชำระเงินต้น :</p></td>
                            {% comment %} <td style="width: 45%"></td> {% endcomment %}
                            <td><strong>{{ foo.cashspended }}</strong></td>
                        </tr>
                        <tr>
                            <td><p>ชำระดอกเบี้ย :</p></td>
                            {% comment %} <td style="width: 45%"></td> {% endcomment %}
                            <td><strong>{{ foo.fee_spended }}</strong></td>
                        </tr>
                        <tr>
                            <td><p>จำนวนงวดค้างชำระ :</p></td>
                            {% comment %} <td style="width: 45%"></td> {% endcomment %}
                            <td><strong>{{ foo.over_due_period }}</strong></td>
                        </tr>
                        {% comment %} <tr>
                            <td><p>จำนวน :</p></td>
                            <td style="width: 45%"></td>
                            <td><strong>{{ foo. }}</strong></td>
                        </tr> {% endcomment %}
                        <tr>
                            <td><p>ค่างวดค้างชำระ :</p></td>
                            {% comment %} <td style="width: 45%"></td> {% endcomment %}
                            <td><strong>{{ foo.moneyfirst_over_due }}</strong></td>
                        </tr>
                        <tr>
                            <td><p>จำนวนค้างชำระทั้งหมด :</p></td>
                            {% comment %} <td style="width: 45%"></td> {% endcomment %}
                            <td><strong>{{ foo.moneyfirst_over_due }}</strong></td>
                        </tr>
                        <tr>
                            <td><p>ยอดปิดบัญชี :</p></td>
                            {% comment %} <td style="width: 45%"></td> {% endcomment %}
                            <td><strong>{{ foo.money_closeacc }}</strong></td>
                        </tr>
                        <tr>
                            <td><p>เงินต้นคงเหลือ :</p></td>
                            {% comment %} <td style="width: 45%"></td> {% endcomment %}
                            <td>
                                <strong>
                                {% if foo.moneypricipal_remain %}
                                    {{ foo.moneypricipal_remain }} 
                                {% else %}
                                    <p>-</p>
                                {% endif %}
                                </strong>
                            </td>
                        </tr>
                    </table>
            </div>
        </div>
        <button id="toggle-history-{{ forloop.counter }}" onclick="toggleHistory({{ forloop.counter }})">
            ประวัติการชำระเงิน
            <i id="toggle-icon_{{ forloop.counter }}" class="fa-solid fa-angle-down"></i>
        </button>
        <br> <br>
        <div id="additional-{{ forloop.counter }}" style="display: none" class = "table-container">
            <table class="receipt-table" border = "2">
                <thead>
                    <tr>
                        <th>ลำดับ</th>
                        <th>เลขที่ใบเสร็จ</th>
                        <th>วันที่ใบเสร็จ</th>
                        <th>ชำระค่า</th>
                        <th>ยอดชำระ</th>
                        <th>เงินต้น</th>
                        <th>ดอกเบี้ย</th>
                        <th>ส่วนลด</th>
                        <th>ยอดรวมชำระ</th>
                        <th>สถานะใบเสร็จ</th>                    
                        <th>โหลดใบเสร็จ</th>
                    </tr>
                </thead>
                <tbody>
                    {% for joo in result3  %}
                    <tr>
                        <td><strong>{{ forloop.counter }}</strong></td>
                        <td><strong>{{ joo.payment_no }}</strong></td>
                        <td><strong>{{ joo.paydate }}</strong></td>
                        <td><strong>{{ joo.payfor_name }}</strong></td>
                        <td><strong>{{ joo.paymentspended }}</strong></td>
                        <td><strong>{{ joo.moneyfirst_paid }}</strong></td>
                        <td><strong>{{ joo.money_r_finish }}</strong></td>
                        <td><strong>{{ joo.discount_pay }}</strong></td>
                        <td><strong>{{ joo.moneytotal }}</strong></td>
                        <td  style="font-weight: bold; color: {% if joo.status_name == 'Active' %}green
                            {% elif joo.status_name == 'Cancel' %}red
                            {% else %}black
                            {% endif %};"><strong>{{ joo.status_name }}</strong></td>
                        <td>
                            {% comment %} # onclick="openReceiptModal('{{ foo.cont_no }}', '{{ joo.payment_id }}')" {% endcomment %}
                            {% comment %} <button  type="submit" onclick="submitForm('{{ joo.payment_no }}')">
                                ออกใบเสร็จ
                            </button>  {% endcomment %}
                            <a href="{% url 'receipt' %}?payment_no={{ joo.payment_no }}&payfor_name={{ joo.payfor_name }}" target="_blank">   
                                <button>
                                    <p>ออกใบเสร็จ</p>
                                </button>       
                            </a>
                        </td>

                        {% comment %} <form action="{% url 'receipt'%}" method="post">
    
                            {% csrf_token %}
                            
                                <input type="hidden" name="payment_no" value="{{ joo.payment_no }}">
                                <input type="hidden" name="paydate" value="{{ joo.paydate }}">
                                <input type="hidden" name="payfor_name" value="{{ joo.payfor_name }}">
                                <input type="hidden" name="paymentspended" value="{{ joo.paymentspended }}">
                                <input type="hidden" name="moneyfirst_paid" value="{{ joo.moneyfirst_paid }}">
                                <input type="hidden" name="money_r_finish" value="{{ joo.money_r_finish }}">
                                <input type="hidden" name="discount_pay" value="{{ joo.discount_pay }}">
                                <input type="hidden" name="moneytotal" value="{{ joo.moneytotal }}">
                                <input type="hidden" name="status_name" value="{{ joo.status_name }}">
                        </form> {% endcomment %}
                    </tr>        
                    {% endfor %}   
                </tbody>
            </table>
        </div>
    </div>
    {% endfor %}
    {% elif result2 is None %}
    <p>ไม่พบข้อมูลตามเลขที่สัญญาที่กรอก</p>
    {% endif %}

    <!-- โมดัลยืนยัน -->
    {% comment %} {% for joo in result3  %}
    <div id="receiptModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeReceiptModal()">&times;</span>
            <h2>ยืนยันการสร้างใบเสร็จ</h2>
            <p id="modalText">กำลังสร้างใบเสร็จ...</p>
            <div class="modal-buttons">
                <a href="{% url 'receipt_pdf' payment_id=joo.payment_id   s%}" autocomplete="off" method="GET" target="_blank">
                    <button type="submit" id="submitBtn" class="btn-confirm">
                        <p>ตกลง</p>
                    </button>      
                </a>
                <button class="btn-cancel" onclick="closeReceiptModal()">
                    <P>ยกเลิก</P>
                </button>
            </div>
        </div>
    </div>
    {% endfor %} {% endcomment %}

    <script>
      function toggleDetails(index) {
        const details = document.getElementById("additional-details-" + index);
        const icon = document.getElementById("toggle-icon-" + index);
        if (details.style.display === "none") {
          details.style.display = "block";
          icon.classList.remove("fa-angle-down");
          icon.classList.add("fa-angle-up");
        } else {
          details.style.display = "none";
          icon.classList.remove("fa-angle-up");
          icon.classList.add("fa-angle-down");
        }
      }
      function toggleHistory(index) {
        const details = document.getElementById("additional-" + index);
        const icon = document.getElementById("toggle-icon_" + index);
        if (details.style.display === "none") {
          details.style.display = "block";
          icon.classList.remove("fa-angle-down");
          icon.classList.add("fa-angle-up");
        } else {
          details.style.display = "none";
          icon.classList.remove("fa-angle-up");
          icon.classList.add("fa-angle-down");
        }
      }
    
    </script>
  </body>
</html>
